/*
===========
Variables
===========
*/

:root {
  /* dark primary shades */
  --clr-primary-1: hsl(205, 69%, 16%);
  --clr-primary-2: hsl(205, 64%, 21%);
  --clr-primary-3: hsl(205, 59%, 26%);
  --clr-primary-4: hsl(205, 54%, 29%);
  /* light primary shades */
  --clr-primary-5: #49a6e9;
  --clr-primary-6: hsl(205, 56%, 45%);
  --clr-primary-7: hsl(205, 56%, 54%);
  --clr-primary-8: hsl(205, 66%, 65%);
  --clr-primary-9: hsl(205, 56%, 75%);
  --clr-primary-10: hsl(205, 76%, 85%);
  /* dark grey shades */
  --clr-grey-1: hsl(205, 49%, 17%);
  --clr-grey-2: hsl(205, 43%, 19%);
  --clr-grey-3: hsl(210, 54%, 21%);
  --clr-grey-4: hsl(209, 46%, 27%);
  /* light grey shades */
  --clr-grey-5: hsl(205, 16%, 67%);
  --clr-grey-6: hsl(205, 16%, 57%);
  --clr-grey-7: hsl(205, 31%, 76%);
  --clr-grey-8: hsl(205, 26%, 77%);
  --clr-grey-9: hsl(212, 36%, 86%);
  --clr-grey-10: hsl(210, 33%, 97%);
  /* green */
  --clr-green-1: #1aa137;
  --clr-green-2: #13795b;
  --clr-green-3: #0d503c;
  --clr-green-4: #06281e;
  --clr-gold: #c59d5e;
  --clr-lime: #fc5d65;
  --clr-dodger: #4eacdc;
  --clr-secondary: hsla(184, 84%, 64%);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-primary-pink: rgba(242, 138, 178);
  --clr-secondary-pink: #f28ba2;
  --clr-dark-red: hsl(360, 67%, 44%);
  --clr-light-red: hsl(360, 44%, 67%);
  --clr-dark-green: hsl(125, 67%, 44%);
  --clr-light-green: hsl(125, 44%, 67%);
  --ff-primary:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --ff-secondary:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --fixed-width: 620px;
  --max-width: 1170px;
  --spacing: .2rem;
  --radius: .25rem;
  --transition: all .3s linear; 
  --shadow-1: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.6);
  --shadow-2: 0 6px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 2px -1px rgba(0, 0, 0, 0.6);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 6px 4px -3px rgba(0, 0, 0, 0.5);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

html {
  scroll-behavior: smooth scroll;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-size: .875rem;
  line-height: 1.5;
  color: var(--clr-grey-1);
  background: var(--clr-grey-10);
  letter-spacing: var(--spacing);
  margin: 0;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: var(--ff-secondary);
}
h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: .75rem;
  font-family: "Roboto" sans-serif;
  text-transform: capitalize;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: .875rem;
}
p {
  color: var(--clr-grey-5);
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: .7;
    transform: scale(1.3);
  }
  100% {
    transform: scale(1)
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes humburger_puls { 
  0% {
    transform: scale(1)
  }
  50% {
    opacity: .2;
    transform: scale(1.4)
  }
  100% {
    opacity: .7;
    transform: scale(1)
  }
}
@keyframes text_reveal_box {
  0% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes text_reveal_box {
  100% {
    color: var(--clr-white);
  }
}
@keyframes text_reveal_name {
  100% {
    font-weight: 400;
    color: var(--clr-lime);
  }
}

/*
=============
GLobal Styles
=============
*/
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 920px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  place-items: center;
  display: grid;
}
/*
==============
navbar 
==============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--shadow-2);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header h4 {
  animation: bounce 3s ease-in-out infinite;
}
.nav-header span {
  color: var(--clr-secondary);
}
.toggle-btn {
  background: transparent;
  border: transparent;
  color: var(--clr-secondary);
  font-size: 1.5rem;
  transition: var(--transition);
  animation: humburger_puls 3s infinite;
}
.links-container {
  /* height: 0; */
  overflow: hidden;
  transition: var(--transition);
}
.links a {
  font-size: 1.1rem;
  display: block;
  margin: .5rem 0;
  padding: 1rem;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  font-weight: 400;
  transition: var(--transition);
  cursor: pointer;
}
.links a:hover {
  color: var(--clr-secondary);
  background: var(--clr-primary-10);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
@media screen and (min-width: 920px) {
  .nav-center {
    max-width: var(--max-width);
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .toggle-btn {
    display: none;
  }
  .nav-header {
    padding: 0;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    margin: .5rem 0;
    padding: 1rem;
    color: var(--clr-secondary);
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin-right: 1rem;
    justify-content: center;
    color: var(--clr-secondary);
  }
}